body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4;
}
.feedback-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}
.feedback-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.feedback-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.feedback-form textarea {
    resize: vertical;
    height: 100px;
}
.feedback-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #344f68;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.feedback-form input[type="submit"]:hover {
    background-color: #344f68b4;
}
.download-link {
    margin-top: 20px;
    text-align: center;
}
.download-link a {
    color: #155724;
    text-decoration: none;
    font-weight: bold;
}
.download-link a:hover {
    text-decoration: underline;
}